.header {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    background: $white;
    padding: 10px;
    @include mq(sm) {
        padding: 0 20px;
    }
    .logo {
        align-self: center;
        max-height: 40px;
    }
    .navbar {
        .container-fluid {
            padding: 0;
            flex-direction: row-reverse;
            .navbar-brand {
                margin: 0;
            }
        }
        .custom-toggler.navbar-toggler {
            border-color: none;
        }
        .navbar-toggler {
            border: none;
            &:focus,
            &:active {
                box-shadow: none;
            }
        }
    }
}
.navigation {
    .navbar {
        padding: 0;
        .nav-link {
            padding: 30px;
            padding-top: 40px;
            text-align: center;
            border-bottom: 4px solid transparent;
            font-weight: 800;
            font-size: 16px;
            line-height: 22px;
            color: $primary-fontcolor;
            &.active {
                border-bottom: 4px solid $nav-border;
            }
        }
    }
}
